.venv
.conda
.env
.env.prod
.env.dev
.tmp.driveupload/
__recycle_bin/
__pycache__/
env/
temp/
build/
*.log
*.pyc
instance
.envrc
.DS_Store
.vscode/
.idea/
coverage/
migrations/
*.tar
*.tar.gz
*.zip
README.myself.md
nginx/