.venv
.conda
.env
.env.prod
.env.dev
.tmp.driveupload/
__recycle_bin/
__pycache__/
env/
temp/
build/
*.log
*.pyc
instance
.envrc
.DS_Store
.vscode/
.idea/
coverage/
migrations/
world/entrance_exam.json
*.tar
*.tar.gz
.tar/
*.zip
README.myself.md
ChangeLog.md
Dockerfile.tunnel
nginx/