.venv
.env
.env.backup
.env.prod
.env.dev
.tmp.driveupload/
__recycle_bin/
__pycache__/
temp/
build/
*.log
*.pyc
instance
.envrc
.DS_Store
.vscode/
.idea/
coverage/
migrations/
*.tar
*.tar.gz
*.zip
README.myself.md
nginx/

# Docker运行时生成的文件
postgres_data/
